# Compiled object files
src/common/*.h.gch
src/cli/*.h.gch
src/common/*.o
src/cli/*.o
src/gui/*.o
src/gui/Makefile
src/gui/moc_mainwindow.h
src/gui/moc_mainwindow.cpp
src/gui/moc_stonewidget.cpp
src/gui/qrc_resources.cpp
src/gui/ui_mainwindow.h
hra2016-cli
hra2016-gui
doc/
boost/
examples/
